[buildout]
extends = http://ftp.schooltool.org/schooltool/trunk/versions.cfg
versions = versions
newest = false
find-links =
    http://ftp.schooltool.org/schooltool/trunk/
    http://ftp.schooltool.org/schooltool/trunk/dev/
parts = package test scripts ctags

[package]
recipe = zc.recipe.egg:eggs
unzip = true
# set eggs to package name in buildout.cfg
eggs =

[scripts]
recipe = zc.recipe.egg:scripts
unzip = true
eggs = schooltool.devtools
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = ${package:eggs}
defaults = ['-v', '--auto-color']

[ctags]
recipe = z3c.recipe.tag:tags
eggs = ${test:eggs}
